<p>liste-patient works!</p>
<h2 align="center">Liste des Patient</h2>
<br/>
<table align="center" border="1" class="table">
  <thead>
    <tr>
      <td>id</td>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Sexe</th>
      <th>Service</th>
      <th>Supprimer</th>
      <th>Modifie</th>
        </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">

      <td>{{patient.id}}</td>
      <td>{{patient.nom}}</td>
      <td>{{patient.prenom}}</td>
      <td>{{patient.sexe}}</td>

      <td>1</td>
      <td><button class="btn btn-danger"  >Supprimer</button></td>
      <td><button class="btn btn-warning" >Modifier</button></td>
  </tr>
  </tbody>
</table>


