<h2 align="center">Update Fournisseur</h2>


  <div class="form-group">
    <label for="designation">name</label>
    <input [(ngModel)]="name" required  type="text" class="form-control" id="designation" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="marque">adress</label>
    <input [(ngModel)]="adress" type="text" class="form-control" id="marque" aria-describedby="emailHelp">
  </div>
  <button  class="btn btn-primary" (click)="saveUpdatedFournisseur()">Modifier</button>

