
<h2 align="center">Ajout Fournisseurs</h2>

<form #fournisseurForm="ngForm" (ngSubmit)="addFournisseur(fournisseurForm.value)">

  <div class="form-group">
    <label for="name">name</label>
    <input ngModel required name="name" type="text" class="form-control" id="name"  placeholder="name">
  </div>
  <div class="form-group">
    <label for="adress">adress</label>
    <input ngModel required name="adress" type="text" class="form-control" id="adress"  placeholder="Adress">
  </div>
  <div class="form-group">
    <label for="tel">tel</label>
    <input ngModel required name="tel" type="text" class="form-control" id="tel"  placeholder="tel">
  </div>

  <button type="submit" >Save</button>
</form>
